If:
  PathMatch: [.*\.h, include/.*\.h]
  PathExclude: /usr/include/.*
Diagnostics:
  UnusedIncludes: None
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes
CompileFlags:
  Add: [-xc, -Wall, -I.]
  Remove: -W*
  Compiler: gcc

---

If:
  PathMatch: [.*\.hpp, .*\.hh, .*\.H, include/.*\.hpp, include/.*\.hh, include/.*\.H]
  PathExclude: /usr/include/.*
Diagnostics:
  UnusedIncludes: Strict
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes
CompileFlags:
  Add: [-xc++, -Wall, -I., -pedantic]
  Remove: -W*
  Compiler: g++

---

If:
  PathMatch: .*\.c
Diagnostics:
  UnusedIncludes: Strict
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes
CompileFlags:
  Add: [-xc, -O2, -g, -g3, -ggdb, -Wall, -Wextra, -Iinclude, -I., -Llib, -L., -pedantic, -pthread]
  Remove: [-Wempty-translation-unit]
  Compiler: gcc
